
name: python-testing

# Only run this for pushes to master, develop-AC and for pull requests to master
on:
  push:
    branches:
    - master
    - develop-AC
  pull_request:
    branches:
    - master

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  pytest:
    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]

    steps:
    - uses: actions/checkout@v2
    - uses: goanpeca/setup-miniconda@v1
      with:
        environment-file: environment.yml
        python-version: 3.7
        auto-activate-base: false
        activate-environment: ramp-ua

    # run pytest within conda environment
    - name: Run pytest and generate coverage report
      shell: bash -l {0}
      run: |
        conda activate ramp-ua
        pip install pytest-cov
        pytest --cov=microsim tests/ --cov-report=xml
    - name: Upload coverage report to codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml