
name: python-testing

# Only run this for pushes to master, develop-AC and for pull requests to master
on:
  push:
    branches:
    - master
    - develop-AC
  pull_request:
    branches:
    - master

# This job installs dependencies, build the book, and pushes it to `gh-pages`
jobs:
  pytest:
    runs-on: ${{ matrix.os }}

    name: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"] # dropping windows-latest from test matrix due to issues with rpy2 issue #73

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        environment-file: environment.yml
        auto-activate-base: false
        activate-environment: ramp-ua
    
    - name: install rampuaR
      shell: bash -l {0}
      run: |
        R -e "devtools::install_github('Urban-Analytics/rampuaR', dependencies = F);"

    - name: run setup.py
      shell: bash -l {0}
      run: |
        conda activate ramp-ua
        python setup.py install

    - name: install pytest-cov
      shell: bash -l {0}
      run: |
        conda activate ramp-ua
        pip install pytest-cov

    # run pytest within conda environment
    - name: Run pytest and generate coverage report
      shell: bash -l {0}
      run: |
        conda activate ramp-ua
        pytest --cov=microsim tests/ --cov-report=xml
    - name: Upload coverage report to codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
