# this action automates the process of creating a github release
#
# you can prompt this action by creating a git tag that follows semantic versioning (https://semver.org/) major.minor.patch
# e.g. in command line: git tag -a v0.1.2 -m 'tag comment about tag'
# you'll then need to do `git push --tags` to push the tag refs to github
# this action will then run

name: "tagged-release"

on:
  push:
    tags:
      - v*

jobs:
  tagged-release:
    name: "Tagged Release"
    runs-on: "ubuntu-latest"

    steps:
      - uses: actions/checkout@v2
      - uses: goanpeca/setup-miniconda@v1
        with:
          environment-file: environment.yml
          python-version: 3.8
          auto-activate-base: false
          activate-environment: ramp-ua

      - name: install package and test
        shell: bash -l {0}
        run: |
          python setup.py install 
          pytest
          echo "Tests complete"

      - name: create sdist
        shell: bash -l {0}
        run: |
          python setup.py sdist

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            dist/*.tar.gz